@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");
/* RANDOM BEER BUTTON */
.random_btn {
  background-color: #023377;
  outline: 0;
  border: 0;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  cursor: pointer;
  border-radius: 8px;
  padding: 0rem 3rem;
  font-family: Inter;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
  transition:
    transform 200ms,
    background 200ms;
  color: whitesmoke;
  box-shadow: 0 0 0 3px whitesmoke inset;
  :hover {
    transform: translateY(-2px);
  }
  color: #e1e1e1;
}

.random_Beer_Title {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: Pirata One;
  font-size: 26pt;
  color: #023373;
  padding: 5em 0em 5em 0em;
  background-color: darkgray;
  background-image: url("https://t3.ftcdn.net/jpg/02/35/91/42/360_F_235914240_27BzK38AI9h0LNwOgzTkvfkQNupYyeWr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.beer_randomizing {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.beer_animation {
  margin-bottom: 2.5em;
}

@media screen and (min-width: 991px) {
  .beer_animation {
    padding-bottom: 2em;
  }

  .random_Beer_Title {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Pirata One;
    font-size: 34pt;
    color: #023373;
    padding: 3em 0em 3em 0em;
    background-color: darkgray;
    background-image: url("https://t3.ftcdn.net/jpg/02/35/91/42/360_F_235914240_27BzK38AI9h0LNwOgzTkvfkQNupYyeWr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .pour {
    position: absolute;
    width: 20px;
    height: 200%;
    background: none !important;
    border-radius: 20px;
    left: 10px;
    z-index: -1;
    bottom: 150%;
    transition: 300ms ease-in;
  }
}
