@media screen and (max-width: 992px) {
  .footer_container {
    font-family: inter;
    background-color: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .alcohol_warning_text {
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer_bottom {
    color: #07b2d9;
  }

  .white_text {
    color: white;
  }

  .footer_bottom p:nth-child(1) {
    font-size: 0.5em;
  }
  .legal_mentions {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 10px;
  }
  .social_networks_footer {
    display: flex;
    gap: 10px;
    font-size: 2em;
    color: #07b2d9;
    justify-content: center;
    margin-bottom: 12px;
  }
  .alcohol_warning_picto {
    display: none;
  }
  .alcohol_warning {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .fa_icon {
    transition: color 0.3s ease;
  }

  .creators {
    font-size: 12px;
    margin-bottom: 12px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 993px) {
  .footer_container {
    font-family: inter;
    color: white;
    background-color: #0d0d0d;
    height: 200px;
    display: flex;
    flex-direction: column;
  }

  .alcohol_warning_picto {
    width: 130px;
  }

  .alcohol_warning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }

  .alcohol_warning_text {
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
  }

  .footer_bottom {
    display: flex;
    height: -webkit-fill-available;
    align-items: flex-end;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
    color: #07b2d9;
  }

  .legal_mentions {
    font-size: 12px;

    margin-right: 5px;
  }

  .legal_notice {
    margin-left: 1px;
  }

  .white_text {
    color: white;
  }

  .creators {
    font-size: 16px;
  }

  .footer_bottom p:nth-child(1) {
    font-size: 12px;
  }

  .social_networks_footer {
    display: flex;
    gap: 10px;
    font-size: 30px;
    color: #07b2d9;
  }

  .social_networks_footer .fa_icon:hover {
    color: white;
  }

  .social_networks_footer .fa_icon:hover {
    color: white;
    .fa_icon {
      transition: color 0.3s ease;
    }
  }
}
