.card_container {
  border: solid whitesmoke 0.2em;
  background-color: #60d8f3;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
  height: fit-content;
  min-height: 405px;
}
h3 {
  color: #023377;
  font-family: Pirata One;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 26pt;
  padding: 0 0 0.5em 0;
}

.beer_image {
  height: 200px;
  display: flex;
  margin: auto;
  padding-bottom: 1em;
}

p,
.beer_description {
  font-family: Inter;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.6em;
}

.beer_description {
  font-style: italic;
}

.beer_properties {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.beer_ABVIBU {
  padding: 0 1em 0 1em;
}

.beer_infos {
  position: relative;
  bottom: -20px;
}
